<div class="alert alert-primary" role="alert">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="row" colspan="3" class="text-center">CARRITO</th>
          </tr>
          <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">ACCIONES</th>
          </tr>
      </thead>
      <tbody>
      {% if request.session.carrito %}
      {% for key, value in request.session.carrito.items %}
          <tr>
              <td>{{ value.nombre }}</td>
              <td>${{ value.precio_unitario}}</td>  <!-- Cambiado a precio_unitario -->
              <td>{{ value.cantidad }}</td>
              <td>
                  <a href="{% url 'coffee:Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                  <a href="{% url 'coffee:Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
              </td>
          </tr>
      {% endfor %}
      {% else %}
          <tr>
              <td colspan="4">
                  <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
          </tr>
      {% endif %}
      <tr>
          <th scope="row">Total:</th>
          <td colspan="3">$ {{ total_carrito }}</td>  <!-- Asegúrate de pasar este valor correctamente -->
      </tr>
      </tbody>
  </table>
  <hr>
</div>
<div class="row text-center">
  <div class="col-6"><a href="{% url 'coffee:CLS' %}" class="btn btn-danger">Limpiar</a></div>
</div>
